.login-form{
    margin: 3rem auto;
    width: 35%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    min-height: 40rem;
   
}

.form-heading{
    color: var(--font-color); 
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

label{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0.5rem;
}
.btn{
    padding: 1.2rem;
}
.secondary_btn{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    /* margin: 1em; */
    border: 2px solid whitesmoke;
    padding: 0.8em 7.6em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    cursor: pointer;
}

.secondary_btn:hover {
    background-color: silver;
    color: var(--primary-color);
}

.primary_btn{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    /* margin: 1em; */
    border: 2px solid gray;
    padding: 0.8em 5em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color:var(--font-color);
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
}

.primary_btn:hover {
    background-color: silver;
    color: var(--primary-color);
}

.forgotpwd__div{
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem;
}

.forgotpwd__div p{
    color: var(--font-color);
    text-align: center;
  
}
.forgotpwd__div input{
    color: var(--font-color);
    padding: 1rem;
}

.create__new__btn p{
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: var(--font-color);
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
}

.check-input{
    padding: 0.5rem 1rem;
}