.product-card{
    border-radius: 0.8rem;
    background-color: var(--secondary-color);
    margin: 1rem;
    width: 95%;
    position: relative;
    padding: var(--padding-TB) var(--padding-SIDE);
}

.wishlist-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem;
}
.product-card__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.product-card__name{
    padding: 0.5rem;
    color: var(--font-color);
    text-align: center;
}

.product-card__rating{
    color: var(--font-color);
}
.product-card__price{
    padding-bottom: 0.5rem;
    color: var(--font-color);
    text-align: center;
}

/* .addcart_btn{
    width: 100%;
    text-align: center;
    margin: 1em;
    border: 2px solid whitesmoke;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    cursor: pointer;
}

.addcart_btn:hover {
    background-color: silver;
    color: var(--primary-color);
}
 */


.addcart_btn{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    /* margin: 1em; */
    border: 2px solid gray;
    padding: 0.8em 8em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color:var(--font-color);
    color: black;
    cursor: pointer;
}

.addcart_btn:hover {
    background-color: silver;
    color: var(--primary-color);
}