.cart-card{
    background-color: var(--secondary-color);
    margin: 1rem;
    width: 50%;
    position: relative;
    padding: var(--padding-TB) var(--padding-SIDE);
    display: flex;
   
}

.cart-card img{
    width: 40%;
}

.cart-card__details{
    padding: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.cart-card__name{
    color: var(--font-color);
}

.cart-card__rating{
    color: var(--font-color);
}
.cart-card__price{
    color: var(--font-color);
}

.removecart_btn{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    /* margin: 1em; */
    border: 2px solid whitesmoke;
    padding: 0.8em 7.6em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    cursor: pointer;
}

.removecart_btn:hover {
    background-color: silver;
    color: var(--primary-color);
}

.movewishlist_btn{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    /* margin: 1em; */
    border: 2px solid gray;
    padding: 0.8em 8em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color:var(--font-color);
    color: black;
    cursor: pointer;
}

.movewishlist_btn:hover {
    background-color: silver;
    color: var(--primary-color);
}