.header{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 1;
    align-items: center;
    height: 5rem;
}


.header__logo{
    display: flex;
    align-items: center;
    padding: var(--padding-TB) var(--padding-SIDE);
    gap:0.5rem;
}

.header__logo p{
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
}


/* .header__logo p:hover{
    color: var(--link-hover);
} */

.header__search{
    width: 40rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--font-color);
    padding: 0.25rem 0.25rem;
}

.header__search input{
    height: 100%;
    width:100% ;
    font-size: 1.5rem;
    
    

}
.header__search svg{
    cursor: pointer;
    
}
.header__nav{
    display: flex;
    cursor: pointer;
}
.header__nav p{
    margin: 0.2rem 1.5rem;
    padding: 0.25rem 0.1rem;
}

/* .header_btn{
    margin: 0.2rem 2rem;
    border: 2px solid whitesmoke;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--font-color);
    cursor: pointer;
}

.header_btn:hover {
    background-color: silver;
    color: var(--primary-color);
} */

.header_btn{
    white-space: nowrap;
    width: 100%;
    text-align: center;
    /* margin: 1em; */
    border: 2px solid gray;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color:var(--font-color);
    color: black;
    cursor: pointer;
}

.header__nav_mobile{
    display: none;
}