.product-card{
    background-color: var(--secondary-color);
    margin: 1rem;
    width: 95%;
}

.product-card__name{
    color: var(--font-color);
}

.product-card__rating{
    color: var(--font-color);
}
.product-card__price{
    color: var(--font-color);
}